* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #08D9D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #252A34;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    width: 200px;
}

button {
    background-color: #FF2E63;
    margin: 10px;
    padding: 10px;
    height: 60px;
    width: 150px;
    border: none;
    box-shadow: 2px 2px 2px gray;
    border-radius: 0px;
    font-size: large;
}

button:hover {
    cursor: pointer;
    box-shadow: none;
}

#reset-button {
    display: none;
}

@media screen and (max-width: 450px) {
    .container {
        height: 250px;
        width: 250px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    button {
        height: 50px;
        width: 150px;
        font-size: medium;
    }
}