<%- include('header') -%>

<h1 class="about">About this cool website</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quae cum amet recusandae qui quo aliquid voluptas illum? Aspernatur doloribus a nihil, quidem atque aperiam placeat laborum est aliquid voluptas.</p>

<%- include('footer') -%>
